In [2]:
import pandas as pd
df = pd.read_csv('/home/ggnicolau/Documents/TCC/bertopic-vocabulary-mismatch/data/raw/SyskillWebert.csv')

In [3]:
df

    file_name                                               text  class
0          53    LaFond, Lois        One World              (...  Bands
1          28    Houston, Penelope   Houston, Penelope       ...  Bands
2          57    Bernard, Mary Ellen   Bernard, Mary Ellen   ...  Bands
3          25    Deth Specula   Deth Specula         Careenin...  Bands
4          15    Hungry Ghost   Hungry Ghost         Aboral  ...  Bands
..        ...                                                ...    ...
329        60                                Too Busy Too Busy!   Sheep
330        52      Desert Bighorn Sheep       Desert Bighorn ...  Sheep
331        39      Wool Manufacturing: Shear Pain    Miscella...  Sheep
332        19    Sheep Brain Atlas   Saggital View  Click on ...  Sheep
333        20     LCTGM--Mountain sheep                Mounta...  Sheep

[334 rows x 3 columns]